<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55237249346-8bd92lk7gthnm7c947pnns5qdc9il69u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55237249346-8bd92lk7gthnm7c947pnns5qdc9il69u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>55237249346-fi30ntpg2lccamkkm0sp0ihctm4eshs4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4o_wyZoTA1rsNfpkm5rIhpq3SX3NO0lE</string>
	<key>GCM_SENDER_ID</key>
	<string>55237249346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petcong.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>petcong-58bea</string>
	<key>STORAGE_BUCKET</key>
	<string>petcong-58bea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55237249346:ios:dacd591913af76949ae0db</string>
</dict>
</plist>